.label
  グールプを作成しました
.wrapper
  .boxes
    .top-box
      .top-box__class
        .top-box__class__user-name
          %p woody
        .top-box__class__menu
          .top-box__class__menu__new-group
          =link_to "#", class: "contents__btn" do
            = fa_icon 'edit'
          .top-box__class__menu__edit-account
          =link_to "#", class: "contents__btn" do
            = fa_icon 'cog'
    .bottom-box
      .bottom-box__group
        .bottom-box__group__name
          %p e
        .bottom-box__group__last-message
          %p まだメッセージはありません
  .contents
    .top-content
      .top-content__left
        .top-content__left__current-group
          %p e
        .top-content__left__member
          %p Menber woody
      .edit-content
        = link_to "#" do
          Edit
    .midlle-content
      .midlle-content__info
        .midlle-content__info__talker
          %p test user
        .midlle-content__info__date
          %p 2119/11/3
      .midlle-content__info__comment
        %p 今日わ

    .bottom-content
      .text-content
        %input.text{:placeholder => "type a message", :value => ""}/
      .send-content
        = link_to "#" do
          SEND
      .file-content
        = fa_icon 'photo'
      %input{:type => "file", :class => "file"}/

        
        